body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.navbar {
  background-color: rgb(194, 181, 165);
  padding: 0px;
}
  
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  border: 2px solid rgb(194, 181, 165);
  overflow: hidden;
}

.title-in {
  background-color: rgb(194, 181, 165);
  padding: 5px;
}

.logo {
  width: auto;
  height: 30px;
}

.contact-list {
  list-style-type: none;
}

.footer {
  background-color: rgb(194, 181, 165);
}

.footer-infor {
  padding: 0 120px;
}